

#container
{
    color: black;
    position: relative;
    top: 150px;
    left: 500px;
  font-size:30px;
box-shadow: 1px 3px 6px #dfdccd;
    border-radius: 3px;
    width: 35%;
background-color: #edece8;
overflow:hidden;
font-family: Arial;

}

input {
    position: relative;
    top: 10px;
    left: 20px;
    padding 2px 40px 30px;
    margin: 3px 10px 10px;

}


#list
{
  position: relative;
  left: 50px;
  top:-35px;
}
#btn
{
  left:150px;
}
.user
{
    position: relative;
    top: 10px;
     left: 10px;
    font-size:25px;

}
#login
{
    position: relative;
    left:10em;
    cursor: pointer;
       border-radius: 1%;
    box-shadow:  1px 3px 6px #000000;


}
#signup
{
    position: relative;
    top:-37px;
    left: 18em;;
   border-radius: 1%;
    box-shadow:  1px 3px 6px #000000;

}
#signup a
{
    text-decoration: none;
}
p
{
    position: relative;
    left: 150px;

}
button a
{
    color:black;
}


@import 'moblie.css';




.container
{
    color: aliceblue;




    margin:2% auto;
border-radius: 1%;
overflow:hidden;
    width: 1200px;
    height: 550px;
}


.welcome
{
     position: relative;
    top: 100px;
    left: 250px;
}
#para
{
  position: relative;
    top: 150px;
    left: 250px;
}
#log
{
    position: relative;
    top: -300px;
    left: 450px;
    padding 2px 40px 30px;
    margin: 3px 10px 10px;
    box-shadow:1px 3px 6px #000000;
    border-radius: 1%;
    width:250px;
}

.nav
{
  border-bottom: 4px solid #00009a;
  height: 70px;
  line-height: 70px;
    z-index: 1;

}
.menu
{
  margin: 0 30px 0 0;

  position: relative;
     text-align:right;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white ;
   position: fixed;
    top: 0;
    right:0;
    width: 100%;

    font-family:  sans-serif;
}
.menu a:
{
    background-color:aquamarine;
    padding :0 5px;
      transition: all 0.5s ease;
}
 label
{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;

}
#toggle
{
  display: none;

}

.menu a
{
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
  color:  	#00009a;
     transition: border .5s;
}
body
{
  margin:0;
   padding:0;
    background: #6969;
}

h1{
  position: absolute;
  left: 40px;
  top: 40px;
}






@media only screen and (min-width: 360px) and (max-width: 500px) and (max-height:812px)
{
    body
    {
        overflow: none;
    }
#container
    {
       position: relative;;
        left:50px;
        width:70%;
        height: 27%;
        font-size: 20px;
    }


  input
    {
        position: relative;
        top:-20px;
        left: 10px;
        cursor: alias;


    }
     .user
    {
        left:3px;
        position: relative;
        top:-20px;
    }

    #signup
    {
        position: relative;
        top:-46px;
        left: 170px;
    }

  label
  {
    display:block;
  position: absolute;
  left:10px;
      z-index: 50;

  }
  .menu{
    text-align: center;
    width:100px;
    display: none;
    position: absolute;
    left: 0;
    top:0px;
      height: 100%;
      z-index: 1;
     overflow: none;
  }
  .menu a {
    display: block;
    border-bottom: 4px solid #0000cd;
    margin-top:30px;
      padding : 0 ;

  }
  #toggle:checked + .menu
  {
    display:block;
  }


  li {
    text-align: left;
    font-size: 10px;
    list-style: none;
    margin: 0;
  }
    input
    {
        position: relative;
        left:30px;
        padding: 0 20px;
    }
    #signup
    {
        position: relative;
        left:150px;
        top:-60px;
    }
    #login
    {
        position: relative;
        left:50px;
    }
    #titles
    {
        position: relative;
        left:50px;
    }
    .user
    { display: none;

    }
}
