@import 'menu.css';

<<<<<<< HEAD
@import'menu.css';

.xdebug-error.xe-notice {
  display: none;
}

@font-face {
 font-family: newfont;
 src: url(OpenDyslexic-Regular.otf);
}


	 p {
=======
	a, p {
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36
		font-size :1.5em;
		font-family: helvetic;
    color: black;

	}
  hr.stlye
{

border-bottom: 10px solid #00000;
}

.tesx
{
	position:relative;
	left: 250px;
	top: 250px;
}
	#newcontact
	{
        /*When the user clicks on the new message, the message box will expand */

	box-shadow: 2px 10px 30px;
	position: fixed;

	top: 20%;
	background: #ffffff;
	z-index:2;
	left:50%;
        /*transform is x,y.*/
	transform: translate(-300px,0);
	border-radius: 5px;
	overflow: auto;
	display: none;
        width: 50em;

	}
   @media (max-width:768px)
   {
     #newcontact 
     {
       width:55%;
       left:63% !important;
     }
   #newcontact .form-control
   {
    width: 80%;
   }
}

@media (max-width:991px)
{
  #newcontact 
  {
    width: 75%;
    left:55%;
    overflow-x: hidden;
  }
#newcontact .form-control
{
 width: 100%;
}


}
/* New message box */
.header, .footer
{
	background: #696969; margin:0px;
	color:white;
	padding:5px;
}

.header {
font-size :50px;
text-align: center;

}

.body{
	padding:5px;
}

/* 
.minputU
{
    width:30%;
    left: 10em;
    top:5.9em;
    position: absolute;
    padding:6px;
background: #efefef;
margin: 2px;
}

.minput
{

    padding:6px;
    background: #efefef;
    margin: 2px;
    width:50%;
    height: 10%;
    left: 10em;
    top:9em;
    position: absolute;
    }
#submit
{
    color:grey;
    position: relative;
    left:10em;
    margin: 2px 0px 4px 10px;
    padding: 2px 5px 5px;
    top:10px;
}

.cancel
{
    color:grey;
    position: relative;
    left:10em;
    margin: 2px 0px 4px 10px;
    padding: 2px 5px 5px;
    top:10px;
}
<<<<<<< HEAD
/*  containers
#container{
	box-shadow:2px 2px 10px #000000;
	width:1000px;
 	height:600px;
	margin:2% auto;
	border-radius: 1%;
	overflow:hidden;
 	position: relative;
	top: 50px;
  background: white;
=======
/*  containers */
	#container{
		box-shadow:2px 2px 10px #000000;
	width:1200px;
 height:90%;
margin:2% auto;
border-radius: 1%;
overflow:hidden;
 position: relative;
top: -15px;
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36

 }


#meni
{
  background:#696969;
  color:white;
  padding:1%;
  font-size:30px;
} */

#leftside, #rightside
{
  position: relative;
  top: 60px;
  float:left;
  height:90%;
    border: 1px solid black;
}
#leftside
{
  width:30%;
}
#rightside
{
  width:60%;
}

#left-col-container
{
  width:100%;
  margin: 0px auto;
   height:100%;
   overflow: auto;
}
<<<<<<< HEAD
#msgbox
{
		position: relative;
    /* top: 500px; */
    top:10%;
		width: 40%;
		 left: 5%; 
		height: 30%;
}

@media (max-width:767px)
{
  #msgbox
{
		position: relative;
 
		 left: -8%; 
		height: 30%;
=======
#msgform
{ position: fixed;
  top: 550px;
	width: 40%;
	left: 35%;
	height: 30%;
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36
}
}
.contact
{
border:1px solid black;
padding:5px;
background: white;
margin: 2px;

overflow:auto;
}
.image {
  float:left;
  margin-right:5px;
  width:50px;
  height: 50px;
}

#mainmessages
<<<<<<< HEAD
	{
    	overflow:auto ;
     	position: relative;
      
        width: 100%;
				height: 400px;
        border: 1px solid; 
=======
{
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36

    overflow:auto ;
   position: relative;
        width: 50%;
height: 70%;
top:40px;
}

.nMess
{
    cursor: pointer;
    font-size: 20px;
<<<<<<< HEAD
    width: 100%; 
    border: 1px solid black;
  
    position: relative;
   }

   @media(max-width:767px)
   {
     .nMess 
     {
        font-size: 14px;
     }
     .contact 
     {
       font-size:14px;
     }
   }
=======
    width: 100%;
    margin: 2px;
    border: 1px solid black;
    height: 20px;
}
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36
.textarea
{
	width:45%;
	height: 5%;
	border: 1px solid #efefe;
	position: fixed;
bottom:4%;
    left: 36.7%;
	margin:0px auto;
    border-radius: 3px;
    box-shadow: 10px solid black;

}

.users, .recivers
{
	border: 1px solid black;
	width:90%;
	padding:1px;
	margin:0px auto;
	margin-top:1%;
	overflow: auto;
    background: #efefef;

}

.users
{
	background: #efefef;
}
.recivers
{
	background: #ffff;
}
<<<<<<< HEAD

@media only screen and (min-width: 360px) and (max-width: 500px) and (max-height:812px)
{
    body
    {
        overflow: none;
    }



  input
    {
        position: relative;
        top:-20px;
        left: 10px;
        cursor: alias;


    }
     .user
    {
        left:3px;
        position: relative;
        top:-20px;
    }

    #signup
    {
        position: relative;
        top:-46px;
        left: 170px;
    }

  label
  {
    display:block;
  position: absolute;
  left:10px;
      z-index: 50;

  }
  .menu{
    text-align: center;
    width:100px;
    display: none;
    position: absolute;
    left: 0;
    top:0px;
      height: 100%;
      z-index: 5;
     overflow: none;
  }
  .menu a {
    display: block;
    border-bottom: 4px solid #0000cd;
    margin-top:30px;
      padding : 0 ;

  }
  #toggle:checked + .menu
  {
    display:block;
  }


  li {
    text-align: left;
    font-size: 10px;
    list-style: none;
    margin: 0;
  }
    input
    {
        position: relative;
        left:30px;
        padding: 0 20px;
    }

    #titles
    {
        position: relative;
        left:50px;
    }
    .user
    { display: none;

    }
  
    #leftside
    {
        position: relative;
        left:-15px;
        border:none;
    }
    #contactsside
{
 position: relative;
    left:5px;
		top:30px;
    width:100px;
  margin: 1px auto;
	padding:1px ;
    font: 5px;
   height: 42em;
   overflow: auto;
    border:none;
        }
				 a
				{
					color:#00009a;
				}
    .users, .recivers
{
	border: 1px solid black;
	width:100px;
	margin:10px;
	height: 10%x;
	overflow: hidden;
    background: #efefef;
font-size: 10px;
    position: relative;
		top:50px;
    left:50px;
		padding: 20px 0;

}
 .nmess
 {
	 width: 20px;
	 position: relative;
	 top:10px;
 }
.minputs
{
	position: relative;
  left: 14%;
  top: 4px;
	width:200px;
	z-index: 1;
}
.mess
 {

	 width:100rem;
 }
    .users
{
	background: #efefefef;
}
.recivers
{
	background: white;
}





		}
=======
>>>>>>> 4821221142a69996b6411f3f65680deae984cc36
