ul
{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #efefefef;
    left: 200px;
    top:10px;
    position: relative;
    width:70%;
    border-radius: 4px;
    box-shadow: 5px  1px 10px ;
}

li 
{
    float: right;
    
}
#session 
{
    position:relative; 
    right:550px;
    font-size: 30px;
    color: seagreen;
    top: 5px;
    font-family: cursive;
}


li a
{
  display: block;
  color: black;
  text-align: center;
  padding: 4px 16px;
    font-size: 20px;

    
    
  text-decoration: none;
}
 a
{
  text-decoration: none;
  
}

li:hover:not(.active)
{
    background-color: aliceblue;
}

.active 
{
    background-color: #4caf50;
    width: 59%;
    height: 40px;
}




/*body  */
	html,body
	{
		height:100%;
		overflow: hidden;
		padding:0px;
		margin: 0px;

	}