@import 'moblie.css';





.container
{
    color: aliceblue;



   font-family: Arial;
    margin:2% auto;
border-radius: 1%;
overflow:hidden;
    width: 1200px;
    height: 550px;
}


.welcome
{
     position: relative;
    top: 100px;
    left: 250px;
}
#para
{
  position: relative;
    top: 150px;
    left: 250px;
}
#log
{
    position: relative;
    top: -300px;
    left: 450px;
    padding 2px 40px 30px;
    margin: 3px 10px 10px;
    box-shadow:1px 3px 6px #000000;
    border-radius: 1%;
    width:250px;
}

.nav
{
  border-bottom: 4px solid #00009a;
  height: 70px;
  line-height: 70px;

}
.menu
{
  margin: 0 30px 0 0;
 z-index: 1;
  position: relative;
     text-align:right;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white ;
   position: fixed;
    top: 0;
    right:0;
    width: 100%;

    font-family:  sans-serif;
}
.menu a:
{
    background-color:aquamarine;
    padding :0 5px;
      transition: all 0.5s ease;
}
 label
{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;

}

#title
{
  position: relative;
  top: 10px;
  left: 100px;
  z-index: 1;
}
#toggle
{
  display: none;

}

.menu a
{
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
  color:  	#00009a;

}
body
{
  margin:0;
   padding:0;
    background: #6969;
}

h1{
  position: absolute;
  left: 40px;
  top: 40px;
}
