.menu
{
  margin: 0 30px 0 0;

  position: relative;
     text-align:right;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white ;
   position: fixed;
    top: 0;
    right:0;
    width: 100%;

    font-family:  sans-serif;
}
.menu a:
{
    background-color:aquamarine;
    padding :0 5px;
      transition: all 0.5s ease;
}
 label
{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;

}
#toggle
{
  display: none;

}

.menu a
{
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
  color:  	#00009a;
     transition: border .5s;
}

body
{
  margin:0;
   padding:0;
    background: #6969;
}
